<!DOCTYPE html>
<head>
    <link rel="STYLESHEET" type="text/css" href="{{css}}">
</head>
<title>greaseTrap UI</title>
<div id="container">
  <div id="top_bar"}
      <h1>GreaseTrap Prototype UI</h1>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="{{ clusters }}">Clusters</a>
      <li><a href="{{ nodes }}">Nodes</a>
      <li><a href="{{ roles }}">Roles</a>
      <li><a href="{{ tasks }}">Tasks</a>
    </ul>
  </div>
  <div id="text">
        
  </div>
  <div id="footer">
    &copy;
  </div>
</div>
