<!DOCTYPE html>
<head>
    <link rel="STYLESHEET" type="text/css" href="{{css}}">
</head>
<title>greaseTrap UI</title>
<div id="container">
  <div id="top_bar"}
      <h1>GreaseTrap Prototype UI</h1>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="{{ clusters }}">Clusters</a></li>
      <li><a href="{{ nodes }}">Nodes</a></li>
      <li><a href="{{ roles }}">Roles</a></li>
    </ul>
  </div>
  <div id="text">
      {% if action == 'Create' %}
            <h2>Node Creation</h2>
            <form action="{{ nodes }}create" method="POST">
                <table width="100%" border=0>
                 <tr>
                  <td>Hostname:</td>
                  <td><input type=text name=hostname></td>
                 </tr>
                 <tr>
                  <td>Cluster Assignment:</td>
                  <td><select name=cluster>
                      {% for i in cluster_list['clusters'] %}
                              <option value="{{ i['id'] }}">{{ i['name'] }}</option>
                      {% endfor %}
                      </select>
                  </td>
                 </tr>        
                 <tr>
                  <td>Role Assignment:</td>
                  <td><select name=role>
                      {% for i in role_list['roles'] %}
                              <option value="{{ i['id'] }}">{{ i['name'] }}</option>
                      {% endfor %}
                      </select>
                    </td>
                   </tr>
                 <tr>
                  <td></td>
                  <td><input type=submit name='create' value='Create'></td>
                </table>
            </form>
      {% elif action == 'List' %}
          <h2>List of Nodes:</h2><hr>
          <table border=0 cellspacing=0 cellpadding=0 width=100%>
         <tr>
           <td class=tableheader>Hostname</td>
           <td class=tableheader>Cluster_ID</td>
           <td class=tableheader>Role_ID</td>
           <td class=tableheader>Update</td>
           <td class=tableheader>Delete</td>
         </tr>
          {% if data %}
             {% for i in data['nodes'] %}
                 <tr>
                 <td class=tablerow>{{ i['hostname'] }}</td>
                 <td class=tablerow>{{ i['cluster_id'] }} </td>
                 <td class=tablerow>{{ i['role_id'] }}</td>
                 <td class=tablerow><a class=tablelink href="{{ nodes }}update/{{ i['id'] }}">Update</a></td>
                 <td class=tablerow><a class=tablelink href="{{ nodes }}delete/{{ i['id'] }}">Delete</a></td>
                 </tr>
             {% endfor %}
          {% endif %} 
         </table>
         <br><br>
         <h3><a class=tablelink href="{{ nodes }}create">Create new node</a></h3>
      {% elif action == 'Update' %}
                      <h2>Node Update</h2>
            <form action="{{ nodes }}update/{{ data['id'] }}" method="POST">
                <table width="100%" border=0>
                 <tr>
                  <td>Name:</td>
                  <td><input type=text name=hostname value="{{ data['hostname'] }}"></td>
                 </tr>
                 <tr>
                  <td>Cluster Assignment:</td>
                  <td><select name=cluster>
                      {% for i in cluster_list['clusters'] %}
                              <option value="{{ i['id'] }}">{{ i['name'] }}</option>
                      {% endfor %}
                      </select>
                  </td>
                 </tr>
                 <tr>
                  <td>Role Assignment:</td>
                  <td><select name=role>
                      {% for i in role_list['roles'] %}
                              <option value="{{ i['id'] }}">{{ i['name'] }}</option>
                      {% endfor %}
                      </select>
                    </td>
                   </tr>
                 <tr>
                  <td></td>
                  <td><input type=submit name='update' value='Update'></td>
                </table>
            </form>
      {% endif %}
  </div>
  <div id="footer">
    &copy;
  </div>
</div>
