<!DOCTYPE html>
<head>
    <link rel="STYLESHEET" type="text/css" href="{{css}}">
</head>
<title>greaseTrap UI</title>
<div id="container">
  <div id="top_bar"}
      <h1>GreaseTrap Prototype UI</h1>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="{{ clusters }}">Clusters</a></li>
      <li><a href="{{ nodes }}">Nodes</a></li>
      <li><a href="{{ roles }}">Roles</a></li>
      <li><a href="{{ tasks }}">Tasks</a></li>
    </ul>
  </div>
  <div id="text">
        {% if action == 'Create' %}
            <h2>Role Creation</h2>
            <form action="{{ roles }}create" method="POST">
                <table width="100%" border=0>
                 <tr>
                  <td>Name:</td>
                  <td><input type=text name=role_name></td>
                 </tr>
                 <tr>
                  <td>Description:</td>
                  <td><input type=text name=role_descr></td>
                 </tr>
                 <tr>
                  <td></td>
                  <td><input type=submit name='create' value='Create'></td>
                </table>
            </form>
        {% elif action == 'List' %}
         <h2> List of Roles: </h2><hr>
         <table border=0 cellspacing=0 cellpadding=0 width=100%>
         <tr>
           <td class=tableheader>Description</td>
           <td class=tableheader>Name</td>
           <td class=tableheader>Update</td>
           <td class=tableheader>Delete</td>
         </tr>
          {% if data %}
             {% for i in data['roles'] %}
                 <tr>
                 {% for k,v in i.items() %}
                     {% if k == "id" %}
                         {% set id = v %}
                     {% else %}
                         <td class=tablerow>{{ v }}</td>
                     {% endif %}
                 {% endfor %}
                 <td class=tablerow><a class=tablelink href="{{ roles }}update/{{ i['id'] }}">Update</a></td>
                 <td class=tablerow><a class=tablelink href="{{ roles }}delete/{{ i['id'] }}">Delete</a></td>
        	 </tr>
             {% endfor %}
  	  {% endif %} 
         </table>
	 <br><br>
         <h3><a class=tablelink href="{{ roles }}create">Create new role</a></h3>
        {% elif action == 'Update' %}
            <h2>Role Update</h2>
            <form action="{{ roles }}update/{{ data['id'] }}" method="POST">
                <table width="100%" border=0>
                 <tr>
                  <td>Name:</td>
                  <td><input type=text name=role_name value="{{ data['name'] }}"></td>
                 </tr>
                 <tr>
                  <td>Description:</td>
                  <td><input type=text name=role_descr value="{{ data['description'] }}"></td>
                 </tr>
                 <tr>
                  <td></td>
                  <td><input type=submit name='update' value='Update'></td>
                </table>
            </form>
        {% endif %} 
  </div>
  <div id="footer">
    &copy;
  </div>
</div>
