<!DOCTYPE html>
<head>
    <link rel="STYLESHEET" type="text/css" href="{{css}}">
</head>
<title>greaseTrap UI</title>
<div id="container">
  <div id="top_bar"}
      <h1>GreaseTrap Prototype UI</h1>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="{{ clusters }}">Clusters</a></li>
      <li><a href="{{ nodes }}">Nodes</a></li>
      <li><a href="{{ roles }}">Roles</a></li>
      <li><a href="{{ tasks }}">Tasks</a></li>
    </ul>
  </div>
  <div id="text">
        {% if action == 'Create' %}
            <h2>Task Creation</h2>
            <form action="{{ tasks }}create" method="POST">
                <table width="100%" border=0>
                 <tr>
                  <td>Host to execute task:</td>
                  <td><select name=node>
                      {% for i in node_list['nodes'] %}
                          <option value="{{ i['id'] }}">{{ i['hostname'] }} </option>
                      {% endfor %}
                  </td>
                 </tr>
                 <tr>
                  <td>Action:</td>
                  <td><input type=text name=action></td>
                 </tr>
                 <tr>
                  <td></td>
                  <td><input type=submit name='create' value='Create'></td>
                </table>
            </form>
        {% elif action == 'List' %}
         <h2> List of Tasks: </h2><hr>
         <table border=0 cellspacing=0 cellpadding=0 width=100%>
         <tr>
           <td class=tableheader>Name</td>
           <td class=tableheader>Description</td>
           <td class=tableheader>Extra</td>
           <td class=tableheader>Details</td>
           <td class=tableheader>Update</td>
           <td class=tableheader>Delete</td>
         </tr>
          {% if data %}
             {% for i in data['tasks'] %}
                 <tr>
                 <td class=tablerow>{{ i['name'] }}</td>
                 <td class=tablerow>{{ i['description'] }}</td>
                 <td class=tablerow>{{ i['extra'] }}</td>
                 <td class=tablerow><a class=tablelink href="{{ tasks }}{{ i['id'] }}">Details</a></td>
                 <td class=tablerow><a class=tablelink href="{{ tasks }}update/{{ i['id'] }}">Update</a></td>
                 <td class=tablerow><a class=tablelink href="{{ tasks }}delete/{{ i['id'] }}">Delete</a></td>
        	 </tr>
             {% endfor %}
  	  {% endif %} 
         </table>
	 <br><br>
         <h3><a class=tablelink href="{{ tasks }}create">Create new task</a></h3>
        {% endif %} 
  </div>
  <div id="footer">
    &copy;
  </div>
</div>
