body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #00ff00;
   color : #ff9900;
}
a:link,a:visited,a:active {
   color : #ffff66;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
hr {
   border: 0;
   height: 1px;
   background-color: #fff;
}
h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
tr:nth-child(odd)		{ 
    background-color: #ffcc00; 
    transform: rotate(5deg);
    padding-left: 10px;
    float: right;
}
tr:nth-child(even)		{ 
    background-color: #ff0000; 
}
.tableheader {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
a.tablelink{
   font-family: Arial, Helvetica, sans-serif;
   color: #000;
}
.tablerow {
   font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 1024px;
    height: 650px;
    margin: 0 auto;
    background: #1E3052;
    border: 1px solid #fff;
}
#top_bar {
    width: 1024px;
    height: 50px;
    background: #1E3052;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}
#navigation {
    background-color: #1E3052;
    float: left;
    width: 150px;
    height: 550px;
    padding: 10px 0px 0px 0px;
}
#text {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    float: right;
    width: 850px;
    height: 550px;
    padding: 10px;
}
#footer {
    clear: both;
    text-align: center;
    background-color: #1E3052;
    border-top: 1px solid #fff;
}
